.circleci
.git
.gitignore
docker-compose.yml
Dockerfile
README.md
*.exe
*_test.go
*_dev.go
*_staging.go
*.vue
dev-scripts/
/e2e
# TODO(mtlynch): Remove this when we've figured out how to remove everything but the
# /frontend/dist directory. This is just a test.
/frontend/src
!/frontend/src/controllers/**
