bin/

*.exe

# Vim temporary files
*.sw?

# GCP service account credentials
*service-account*.json

# Holds secret environment variables in prod
env_variables.yaml

# Persistent data directory
persist/

# Code coverage artifacts
.coverage*
