bin/
node_modules/

*.exe

# Vim temporary files
*.sw?

# GCP service account credentials
creds/*
!creds/README.md

# Holds secret environment variables in prod
env_variables.yaml

# Persistent data directory
data/

# Code coverage artifacts
.coverage*

# Production environment variables
.env.prod

*.local

# Playwright output
/playwright-report/
/playwright/.cache/
/e2e-results/

.direnv
