version: '3.2'
services:
  whatgotdone:
    build:
      context: .
      args:
        NPM_BUILD_MODE: development
        GO_BUILD_TAGS: "dev redis"
    command: "-datastore='redis:6379'"
    #entrypoint: "/app/main -datastore='redis:6379'"
    ports:
      - 3001:3001
    environment:
      - PORT=3001
      - CSRF_SECRET_SEED=dummy-dev-secret-seed
    env_file:
      - docker-secrets.env
    depends_on:
      - redis
  redis:
    image: "redis:5.0.6"
