{{define "reactions"}}
<user-reactions
  entry-author="{{.EntryAuthor}}"
  entry-date="{{.EntryDate}}"
  {{if
  .LoggedInUsername}}logged-in-username="{{.LoggedInUsername}}"
  {{end}}
>
  <div class="reactions">
    <div class="reaction-buttons">
      {{range .ReactionSymbols}}
      <button
        class="btn {{if eq . $.SelectedReaction}}btn-light{{else}}btn-secondary{{end}}"
        hx-post="/api/reactions/entry/{{$.EntryAuthor}}/{{$.EntryDate}}"
        hx-vals='{"reactionSymbol": "{{.}}"}'
        hx-headers='{"X-CSRF-Token": "{{$.CSRFToken}}"}'
        hx-swap="outerHTML"
        hx-target="closest user-reactions"
      >
        {{.}}
      </button>
      {{end}}
    </div>

    {{range .Reactions}}
    <div class="reaction">
      <div class="d-flex align-items-center mb-3">
        <user-avatar
          username="{{.Username}}"
          class="mr-2 d-block avatar"
        ></user-avatar>
        <username-link username="{{.Username}}"></username-link>&nbsp;reacted
        with a
        <span class="reaction-symbol ml-1">{{.Symbol}}</span>
      </div>
    </div>
    {{end}}
  </div>
</user-reactions>
{{end}}
