.circleci
.git
.gitignore
docker-compose.yml
Dockerfile
README.md
*.exe
*_test.go
*.vue
# TODO(mtlynch): Remove this when we've figured out how to remove everything but the
# /web/frontend/dist directory. This is just a test.
/web/frontend/src
!/web/frontend/src/controllers
