/* General styling */
body {
  background: #fff;
  color: #2b3e50;
}

hr {
  border-top: 1px solid rgb(43, 62, 80, 0.4);
}

h1 {
  margin-bottom: 16px;
}

body p a,
body li a,
body .footer a,
body .alert a,
body .journal-body a,
body .journal-preview a,
body .rich-text-editor a {
  color: rgb(101, 168, 255);
  text-decoration: none;
}

/* Controls */

.btn {
  border-radius: 6px;
}

.btn.not-collapsed {
  margin-top: 8px;
  margin-bottom: 16px;
}

.btn.twitter {
  background: rgba(29, 161, 242, 1);
}

textarea.form-control,
input.form-control,
.rich-text-editor.form-control {
  border: 1px solid rgba(43, 62, 80, 0.5) !important;
  padding: 12px;
  border-radius: 10px;
  margin: 16px 0;
  background: white !important;
}

input.form-control {
  height: auto !important;
}

label {
  font-size: 16px;
}

.form-group label {
  font-weight: 600 !important;
  margin-top: 8px;
  margin-bottom: 0;
}

/* Alerts */

.alert {
  border-radius: 10px;
}

/* Journal */

.journal,
.journal-preview {
  padding: 16px !important;
  border-radius: 10px;
  border: none !important;
  background: #2b3e50 !important;
  color: #fff !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.preview-bar {
  background: rgba(255, 255, 255, 0.4) !important;
  padding: 8px;
  border-radius: 6px;
}

.journal-body {
  padding: 20px 20px 0;
}

/* Pagination */

.page-item {
  margin: 2px !important;
}

.page-item .page-link {
  min-width: 32px;
  border-radius: 6px !important;
  border: none !important;
}

.page-item:not(.active) .page-link {
  background: #4e5d6c;
}

.page-item .page-link:hover {
  opacity: 0.8;
}

/* Navbar styling */
